@font-face {
	font-family: "SephoraDisplayBook";
	src: url("../../fonts/SephoraSerifDisplayDigital-Book.otf");
  }
@font-face {
    font-family: "SephoraDisplayLightItalic";
    src: url("../../fonts/SephoraSerifDisplayDigital-LightItalic.otf");
}
@font-face {
	font-family: "SephoraDisplayLight";
	src: url("../../fonts/SephoraSerifDisplayDigital-Light.otf");
  }

.presentacion{
    font-family: "SephoraDisplayLight" !important;
    height: 100%;
	width: 100%;
    text-align: left;
    font-size: 350%;
    font-weight: 500;
}
.descripcion1{
    font-family: "SephoraDisplayLight";
    font-size: 120%;
}
.descripcion2{
    font-family: "SephoraDisplayLightItalic";
    font-size: 100%;
}
.descripcion3{
    font-family: "SephoraDisplayBook";
    font-size: 120%;
    margin-bottom: 10%;
}
.mail{
    font-family: "futura-pt-bold", FuturaStd-Bold, sans-serif;
    font-size: 80%;
    letter-spacing: 3px; 
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: black;
    margin-top: 7%;
    margin-bottom: 5%;
}
.instagram{
    font-family: "futura-pt-bold", FuturaStd-Bold, sans-serif;
    font-size: 80%;
    letter-spacing: 3px; 
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: black;
    margin-bottom: 20%;
    margin-top: 2%;
}

.icon{
    float: left;
    width: 90% !important;
}
.row{
    margin-top: 4%;
    margin-bottom: 4%;
}
.logo-margin {
    margin-top: 20px; /* Adjust the value as needed */
}

.back-btn {
    background: none;  /* Removes default button background */
    border: none;  /* Removes border */
    font: inherit;  /* Inherits font styles from parent */
    color: inherit;  /* Inherits text color */
    cursor: pointer;  /* Keeps it clickable */
    padding: 0;  /* Removes default padding */
    outline: none; /* Removes focus outline */
    padding: 5px 0px;
    font-family: 'Museo Sans Rounded' !important;
    font-weight: 250;
    font-size: 27px;
}


@media screen and (max-width:1200px){
    .info{
        max-width: 80% !important;
    }
    .presentacion{
        font-family: "SephoraDisplayLight" !important;
        height: 100%;
        width: 100%;
        text-align: left;
        font-size: 350%;
        font-weight: 500;
        margin-top: 5%;
    }
    .descripcion1{
        font-family: "SephoraDisplayLight";
        font-size: 150%;
    }
    .descripcion2{
        font-family: "SephoraDisplayLightItalic";
        font-size: 150%;
    }
    .descripcion3{
        font-family: "SephoraDisplayLight";
        font-size: 150%;
        margin-bottom: 10% !important;
    }
    .mail{
        font-family: "futura-pt-bold", FuturaStd-Bold, sans-serif;
        font-size: 65%;
        letter-spacing: 3px; 
        text-transform: uppercase;
        font-weight: 700;
        margin-left: 0;
        padding: 0;
        color: black;
        vertical-align: center !important;
        margin-left: -5%;
        
    }
    .instagram{
        font-family: "futura-pt-bold", FuturaStd-Bold, sans-serif;
        font-size: 65%;
        letter-spacing: 3px; 
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;
        padding: 0;
        color: black;
        margin-bottom: 20%;
        margin-top: 3%;
        margin-left: -5%;
    }
    .goback{
        text-decoration: none;
        font-size: 150%;
        font-family: "SephoraDisplayLight" !important;
        letter-spacing: 3px;
        margin-top:10% !important;
    
    }
    .icon{
        float: left;
        width: 40% !important;
    }
    .row{
        margin-top: 4%;
        margin-bottom: 4%;
    }

    @media screen and (max-width:768px){
        .info{
            max-width: 80% !important;
        }
        .presentacion{
            font-family: "SephoraDisplayLight" !important;
            height: 100%;
            width: 100%;
            text-align: left;
            font-size: 350%;
            font-weight: 500;
            margin-top: 5%;
        }
        .descripcion1{
            font-family: "SephoraDisplayLight";
            font-size: 150%;
        }
        .descripcion2{
            font-family: "SephoraDisplayLightItalic";
            font-size: 150%;
        }
        .descripcion3{
            font-family: "SephoraDisplayLight";
            font-size: 150%;
            margin-bottom: 10% !important;
        }
        .mail{
            font-family: "futura-pt-bold", FuturaStd-Bold, sans-serif;
            font-size: 65%;
            letter-spacing: 3px; 
            text-transform: uppercase;
            font-weight: 700;
            margin-left: 0;
            padding: 0;
            color: black;
            vertical-align: center !important;
            
        }
        .instagram{
            font-family: "futura-pt-bold", FuturaStd-Bold, sans-serif;
            font-size: 65%;
            letter-spacing: 3px; 
            text-transform: uppercase;
            font-weight: 700;
            margin: 0;
            padding: 0;
            color: black;
            margin-bottom: 20%;
            margin-top: 3%;
        }
        .goback{
            text-decoration: none;
            font-size: 150%;
            font-family: "SephoraDisplayLight" !important;
            letter-spacing: 3px;
            margin-top:10% !important;
        
        }
        .icon{
            float: left;
            width: 60% !important;
        }
        .row{
            margin-top: 4%;
            margin-bottom: 4%;
        }
        
    }

    @media screen and (max-width:400px){
        .info{
            max-width: 90% !important;
        }
        .presentacion{
            font-family: "SephoraDisplayLight" !important;
            height: 100%;
            width: 100%;
            text-align: left;
            font-size: 250%;
            font-weight: 500;
            margin-top: 5%;
        }
        .descripcion1{
            font-family: "SephoraDisplayLight";
            font-size: 120%;
        }
        .descripcion2{
            font-family: "SephoraDisplayLightItalic";
            font-size: 120%;
        }
        .descripcion3{
            font-family: "SephoraDisplayLight";
            font-size: 120%;
            margin-bottom: 10% !important;
        }
        .mail{
            font-family: "futura-pt-bold", FuturaStd-Bold, sans-serif;
            font-size: 65%;
            letter-spacing: 3px; 
            text-transform: uppercase;
            font-weight: 700;
            margin-left: 0;
            padding: 0;
            color: black;
            vertical-align: center !important;
            
        }
        .instagram{
            font-family: "futura-pt-bold", FuturaStd-Bold, sans-serif;
            font-size: 65%;
            letter-spacing: 3px; 
            text-transform: uppercase;
            font-weight: 700;
            margin: 0;
            padding: 0;
            color: black;
            margin-bottom: 20%;
            margin-top: 3%;
        }
        .goback{
            text-decoration: none;
            font-size: 150%;
            font-family: "SephoraDisplayLight" !important;
            letter-spacing: 3px;
            margin-top:10% !important;
        
        }
        .icon{
            float: left;
            width: 80% !important;
        }
        .row{
            margin-top: 4%;
            margin-bottom: 4%;
        }
        
    }
	
}