@font-face {
	font-family: "SephoraDisplayBook";
	src: url("../../fonts/SephoraSerifDisplayDigital-Book.otf");
  }
@font-face {
    font-family: "SephoraDisplayLightItalic";
    src: url("../../fonts/SephoraSerifDisplayDigital-LightItalic.otf");
}
@font-face {
	font-family: "SephoraDisplayLight";
	src: url("../../fonts/SephoraSerifDisplayDigital-Light.otf");
  }

.presentacion{
    font-family: "SephoraDisplayLight" !important;
    height: 100%;
	width: 100%;
    text-align: left;
    font-size: 350%;
    font-weight: 500;
}
.descripcion1{
    font-family: "SephoraDisplayLight";
    font-size: 120%;
}
.descripcion2{
    font-family: "SephoraDisplayLightItalic";
    font-size: 100%;
}
.descripcion3{
    font-family: "SephoraDisplayBook";
    font-size: 120%;
    margin-bottom: 10%;
}
.icon{
    float: left;
    width: 90% !important;
}
.row{
    margin-top: 4%;
    margin-bottom: 4%;
}
.logo-margin {
    margin-top: 20px; /* Adjust the value as needed */
}

.back-btn {
    background: none;  /* Removes default button background */
    border: none;  /* Removes border */
    font: inherit;  /* Inherits font styles from parent */
    color: inherit;  /* Inherits text color */
    cursor: pointer;  /* Keeps it clickable */
    padding: 0;  /* Removes default padding */
    outline: none; /* Removes focus outline */
    padding: 5px 0px;
    font-family: 'Museo Sans Rounded' !important;
    font-weight: 250;
    font-size: 27px;
}


@media screen and (max-width:1200px){
    .info{
        max-width: 80% !important;
    }
    .presentacion{
        font-family: "SephoraDisplayLight" !important;
        height: 100%;
        width: 100%;
        text-align: left;
        font-size: 350%;
        font-weight: 500;
        margin-top: 5%;
    }
    .descripcion1{
        font-size: 150%;
    }
    .descripcion2{
        font-size: 150%;
    }
    .descripcion3{
        font-size: 150%;
        margin-bottom: 10% !important;
    }
    .icon{
        float: left;
        width: 40% !important;
    }
}

@media screen and (max-width:800px){
    .info{
        max-width: 80% !important;
    }
    .presentacion{
        font-family: "SephoraDisplayLight" !important;
        height: 100%;
        width: 100%;
        text-align: left;
        font-size: 350%;
        font-weight: 500;
        margin-top: 5%;
    }
    .descripcion1{
        font-family: "SephoraDisplayLight";
        font-size: 150%;
    }
    .descripcion2{
        font-family: "SephoraDisplayLightItalic";
        font-size: 150%;
    }
    .descripcion3{
        font-family: "SephoraDisplayBook";
        font-size: 150%;
        margin-bottom: 10% !important;
    }
    .icon{
        float: left;
        width: 60% !important;
    }
    
}
