@charset "UTF-8";

@font-face {
	font-family: "SephoraDisplayBook";
	src: url("../fonts/SephoraSerifDisplayDigital-Book.otf");
  }
@font-face {
	font-family: "SephoraDisplayLight";
	src: url("../fonts/SephoraSerifDisplayDigital-Light.otf");
  }
@font-face {
	font-family: "SephoraDisplayLightItalic";
	src: url("../fonts/SephoraSerifDisplayDigital-LightItalic.otf");
  }

.project-title{
    font-family: "SephoraDisplayLightItalic" !important;
    height: 100%;
	margin-top: 20px;
	padding-left: 30px !important;
	padding-top: 30px !important;
    text-align: left;
    font-size: 300%;
    
}

.short-description{
    font-family: "SephoraDisplayLight" !important;
    height: 100%;
	width: 100%;
    text-align: left;
    font-size: 220%;
}

.project-subtitle{
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 79%;
    text-align: left;
    
}

.project-info{
    font-family: "SephoraDisplayLightItalic" !important;
    height: 100%;
	width: 100%;
    font-size: 78%;
    max-width: 80%;
    text-align: left;
}


.works{
    margin-top: 100px;
}
.container{
    margin-top:100px;
}


.footer {
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 90%;
    height: 60px;
    line-height: 60px;
    background-color: transparent;
    text-align: center;
    
}

.backToProjects {
    font-family: "SephoraDisplayLight";
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 7% auto; /* Center the pill in the footer */
    padding: 0px 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.stretched-text {
    display: inline-block; /* Ensure the transformation only applies to the text */
    transform: scaleY(1.2); /* Stretch the text vertically */
    transform-origin: center; /* Ensure the stretching happens from the center of the text */
}


.goback{
    text-decoration: none;
    text-align: center;
    font-size: 260%;
    font-family: "SephoraDisplayLight" !important;
    letter-spacing: 3px;
    margin-top:150px;
    margin-bottom: 100px;
}



@media screen and (max-width:768px){
    .title,
    .description,
    .credit-title{
        text-align: left;
    }

    .credits{
        margin-top: -200px !important;
    }
    .flanco-derecho, .flanco-izquierdo{
        text-align: center !important;
        size: 100% !important;
        margin-right: auto;
        margin-top: 75px;
    }
	.credits{
        max-width: 100%;
        text-align: left;
        margin-top: -55px ;
        margin-bottom: 50px;
    }
    .container{
        margin-top: 150px ;
    }
    .autorPagina{
        visibility: hidden;
    }
}